<button
  class="py-3 hover:bg-white transition-colors duration-300 px-5 rounded-md rounded-b-md text-veryDarkGrayishBlue bg-desaturatedOrange1 shadow-mdd shadow-desaturatedOrange2 text-4xl md:px-8 md:pt-2 md:pb-1"
>
  7
</button>

<!-- reset -->
<button
  class="text-xl text-white uppercase py-3 px-7 hover:opacity-70 transition-opacity duration-300 rounded-md bg-desaturatedBlue1 shadow-mdd shadow-desaturatedBlue2"
>
  Reset
</button>

<!-- del btn-->
<button
  class="text-xl text-white uppercase px-4 py-4 hover:opacity-70 transition-opacity duration-300 rounded-md bg-desaturatedBlue1 shadow-mdd shadow-desaturatedBlue2 md:px-8 md:pt-3 md:pb-2"
>
  del
</button>

<!-- equal -->
<button
  class="text-xl text-white uppercase py-3 px-7 hover:opacity-70 transition-opacity duration-300 rounded-md bg-desaturatedRed1 shadow-mdd shadow-desaturatedRed2"
>
  =
</button>
