
  <!--============================= buttons========================== -->
  <div
    class="grid grid-cols-4 gap-5 bg-grayishRed dark:bg-veryDarkDesaturatedBlue2 p-8 rounded-lg"
  >
    <!-- first row -->
    <button
      class="py-3 hover:bg-white transition-colors duration-300 px-5 rounded-md rounded-b-md text-veryDarkGrayishYello dark:text-veryDarkGrayishBlue dark:bg-desaturatedOrange1 shadow-mdd bg-lightGrayishYellow shadow-darkGrayishOrange dark:shadow-desaturatedOrange2 text-4xl md:px-8 md:pt-2 md:pb-1"
    >
      7
    </button>
    <button
      class="py-3 hover:bg-white transition-colors duration-300 px-5 rounded-md rounded-b-md text-veryDarkGrayishYello dark:text-veryDarkGrayishBlue dark:bg-desaturatedOrange1 shadow-mdd bg-lightGrayishYellow shadow-darkGrayishOrange dark:shadow-desaturatedOrange2 text-4xl md:px-8 md:pt-2 md:pb-1"
    >
      7
    </button>
    <button
      class="py-3 hover:bg-white transition-colors duration-300 px-5 rounded-md rounded-b-md text-veryDarkGrayishYello dark:text-veryDarkGrayishBlue dark:bg-desaturatedOrange1 shadow-mdd bg-lightGrayishYellow shadow-darkGrayishOrange dark:shadow-desaturatedOrange2 text-4xl md:px-8 md:pt-2 md:pb-1"
    >
      7
    </button>
    <button
      class="text-xl text-white uppercase px-4 py-4 hover:opacity-70 transition-opacity duration-300 rounded-md bg-moderateCyan shadow-veryDarkCyan dark:bg-desaturatedBlue1 shadow-mdd dark:shadow-desaturatedBlue2 md:px-8 md:pt-3 md:pb-2"
    >
      del
    </button>

    <!-- second row -->
    <button
      class="py-3 hover:bg-white transition-colors duration-300 px-5 rounded-md rounded-b-md text-veryDarkGrayishYello dark:text-veryDarkGrayishBlue dark:bg-desaturatedOrange1 shadow-mdd bg-lightGrayishYellow shadow-darkGrayishOrange dark:shadow-desaturatedOrange2 text-4xl md:px-8 md:pt-2 md:pb-1"
    >
      7
    </button>
    <button
      class="py-3 hover:bg-white transition-colors duration-300 px-5 rounded-md rounded-b-md text-veryDarkGrayishYello dark:text-veryDarkGrayishBlue dark:bg-desaturatedOrange1 shadow-mdd bg-lightGrayishYellow shadow-darkGrayishOrange dark:shadow-desaturatedOrange2 text-4xl md:px-8 md:pt-2 md:pb-1"
    >
      7
    </button>
    <button
      class="py-3 hover:bg-white transition-colors duration-300 px-5 rounded-md rounded-b-md text-veryDarkGrayishYello dark:text-veryDarkGrayishBlue dark:bg-desaturatedOrange1 shadow-mdd bg-lightGrayishYellow shadow-darkGrayishOrange dark:shadow-desaturatedOrange2 text-4xl md:px-8 md:pt-2 md:pb-1"
    >
      7
    </button>
    <button
      class="py-3 hover:bg-white transition-colors duration-300 px-5 rounded-md rounded-b-md text-veryDarkGrayishYello dark:text-veryDarkGrayishBlue dark:bg-desaturatedOrange1 shadow-mdd bg-lightGrayishYellow shadow-darkGrayishOrange dark:shadow-desaturatedOrange2 text-4xl md:px-8 md:pt-2 md:pb-1"
    >
      7
    </button>

    <!-- third row -->
    <button
      class="py-3 hover:bg-white transition-colors duration-300 px-5 rounded-md rounded-b-md text-veryDarkGrayishYello dark:text-veryDarkGrayishBlue dark:bg-desaturatedOrange1 shadow-mdd bg-lightGrayishYellow shadow-darkGrayishOrange dark:shadow-desaturatedOrange2 text-4xl md:px-8 md:pt-2 md:pb-1"
    >
      7
    </button>
    <button
      class="py-3 hover:bg-white transition-colors duration-300 px-5 rounded-md rounded-b-md text-veryDarkGrayishYello dark:text-veryDarkGrayishBlue dark:bg-desaturatedOrange1 shadow-mdd bg-lightGrayishYellow shadow-darkGrayishOrange dark:shadow-desaturatedOrange2 text-4xl md:px-8 md:pt-2 md:pb-1"
    >
      7
    </button>
    <button
      class="py-3 hover:bg-white transition-colors duration-300 px-5 rounded-md rounded-b-md text-veryDarkGrayishYello dark:text-veryDarkGrayishBlue dark:bg-desaturatedOrange1 shadow-mdd bg-lightGrayishYellow shadow-darkGrayishOrange dark:shadow-desaturatedOrange2 text-4xl md:px-8 md:pt-2 md:pb-1"
    >
      7
    </button>
    <button
      class="py-3 hover:bg-white transition-colors duration-300 px-5 rounded-md rounded-b-md text-veryDarkGrayishYello dark:text-veryDarkGrayishBlue dark:bg-desaturatedOrange1 shadow-mdd bg-lightGrayishYellow shadow-darkGrayishOrange dark:shadow-desaturatedOrange2 text-4xl md:px-8 md:pt-2 md:pb-1"
    >
      7
    </button>

    <!-- fourth row -->
    <button
      class="py-3 hover:bg-white transition-colors duration-300 px-5 rounded-md rounded-b-md text-veryDarkGrayishYello dark:text-veryDarkGrayishBlue dark:bg-desaturatedOrange1 shadow-mdd bg-lightGrayishYellow shadow-darkGrayishOrange dark:shadow-desaturatedOrange2 text-4xl md:px-8 md:pt-2 md:pb-1"
    >
      7
    </button>
    <button
      class="py-3 hover:bg-white transition-colors duration-300 px-5 rounded-md rounded-b-md text-veryDarkGrayishYello dark:text-veryDarkGrayishBlue dark:bg-desaturatedOrange1 shadow-mdd bg-lightGrayishYellow shadow-darkGrayishOrange dark:shadow-desaturatedOrange2 text-4xl md:px-8 md:pt-2 md:pb-1"
    >
      7
    </button>
    <button
      class="py-3 hover:bg-white transition-colors duration-300 px-5 rounded-md rounded-b-md text-veryDarkGrayishYello dark:text-veryDarkGrayishBlue dark:bg-desaturatedOrange1 shadow-mdd bg-lightGrayishYellow shadow-darkGrayishOrange dark:shadow-desaturatedOrange2 text-4xl md:px-8 md:pt-2 md:pb-1"
    >
      7
    </button>
    <button
      class="py-3 hover:bg-white transition-colors duration-300 px-5 rounded-md rounded-b-md text-veryDarkGrayishYello dark:text-veryDarkGrayishBlue dark:bg-desaturatedOrange1 shadow-mdd bg-lightGrayishYellow shadow-darkGrayishOrange dark:shadow-desaturatedOrange2 text-4xl md:px-8 md:pt-2 md:pb-1"
    >
      7
    </button>

    <!-- fifth row -->
    <button
      class="col-span-2 text-xl text-white uppercase py-3 px-7 hover:opacity-70 transition-opacity duration-300 rounded-md bg-blue bg-moderateCyan shadow-veryDarkCyan dark:bg-desaturatedBlue1 shadow-mdd dark:shadow-desaturatedBlue2"
    >
      Reset
    </button>

    <button
      class="col-span-2 text-xl text-white uppercase py-3 px-7 hover:opacity-70 transition-opacity duration-300 rounded-md bg-orange shadow-darkOrange dark:bg-desaturatedRed1 shadow-mdd dark:shadow-desaturatedRed2"
    >
      =
    </button>
  </div>
</div>
